{% for brevet in brevets %}
  <h1> Brevet {{ loop.index }}</h1>
  <p> Begin Date: {{ brevet.begin_date }} </p>
  <p> Begin Time: {{ brevet.begin_time }} </p>
  <p> Total brevet distance: {{ brevet.distance }} km </p>
  {% for entry in brevet.controls %}
    <p>========== Control #{{ loop.index }} ========== </p>
    {% for data in entry %}
      <p>{{ data }}: {{ entry[data] }}</p>
    {% endfor %}
  {% endfor %}
{% endfor %}

