<form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="number" name="km"></input>
  <input type="number" name="miles"></input>
  <input type="submit"></input>
  <div class="row">
    <div class="col-md-12"> 
    <table class="control_time_table">
        <tr>
    <th> Test Data </th>
        </tr>
     {% for row in range(5) %}
      <tr class="control">
        <td><input name="testData" type="text"/></td>
        <td><input name="testSection" type="text"/></td>
      </tr>
      {% endfor %}
    </table>
    </div> <!-- col -->
    </div> <!-- row -->
</form>

{% for item in items %}
  <h1> {{ item.name }} </h1>
  <p> {{ item.description }} <p>
  <p> {{ item.km }} </p>
  <p> {{ item.miles }} </p>
  {% for dataType in item.table %}
      <p> {{ dataType }} </p>
  {% endfor %}
{% endfor %}
